.outfits {
    margin: 30px auto 0 auto;
}

.outfits ul {
    display: flex;
}

.outfits ul li {
    list-style-type: none;
    margin: 15px;
}

.outfits ul li .profile {
    display: flex;
}

.outfits ul li .profile .profile-account-icon a img{
    height: 30px;
    width: auto;
}

.outfits ul li .outfit-photo a img{
    height: 300px;
    width: auto;
}

.outfits ul li .profile{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px gray;
}

.outfits ul li .profile .flag-img{
    margin-left: auto;
}

.outfits ul li .profile .btn-follow{
    margin-left: auto;
}

.outfits ul li .profile .flag-img img{
    height: 30px;
    width: auto;
    border: solid 1px gray;
}

.flag {
    margin: 10px;
}

.flag .flag-img img {
    width: 100px;
    height: auto;
    border: solid 1px black;
}

