.title {
    margin-top: 30px;
    font-weight: 600;
    font-size: medium;
}

.outfits {
    margin: 30px auto 0 auto;
}

.outfits ul {
    display: flex;
}

.outfits ul li {
    list-style-type: none;
    margin: 15px;
}

.outfits ul li .profile {
    display: flex;
}

.outfits ul li .profile .profile-account-icon a img{
    height: 30px;
    width: auto;
}

.outfits ul li .outfit-photo a img{
    height: 300px;
    width: auto;
}