{% extends "post_outfit/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'post_outfit/css/mypage.css' %}">
{% endblock %}

{% block content %}
<p><a href="{% url 'post' %}">コーデを投稿</a></p>
<p><a href="{% url 'save' %}">お気に入り</a></p>
<p><a href="{% url 'profile_edit' %}">プロフィールを編集</a></p>
<p><a href="{% url 'password_change_form' %}">パスワード変更</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>

<div class="profile">
    <div class="img">
        <img src="/media/{{ user.related_account.account_icon }}" alt="">
    </div>
    <div class="user-main">
        <section class="name">{{ user.username }}</section>
        <section class="intro">{{ user.related_account.account_intro }}</section>
    </div>
</div>

<!-- 自分の投稿一覧表示 -->
<div class="outfits">
    <ul>
        {% for item in user.related_outfit.all %}
        <li>
            <div class="outfit-container">
                <div class="outfit-photo">
                    <a href="{% url 'outfit_detail' username=item.user.username outfit_id=item.id %}">
                        <img src="/media/{{ item.outfit_photo }}" alt="">
                    </a>
                </div>
                <div class="detail">
                    <div class="good">
                        <div class="good-img">
                            <img src="/media/common/btn_good.jpg" alt="">
                        </div>
                        <div class="good-num">
                            {{item.outfit_good}}
                        </div>
                    </div>
                    <div class="flag-img">
                        <img src="/media/{{ item.flag.flag_image }}" alt="">
                    </div>
                    <div class="delete">
                        <form action="{% url 'delete' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="削除">
                        </form>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}