{% extends "post_outfit/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'post_outfit/css/mypage.css' %}">
{% endblock %}

{% block content %}
<!--
    プロフィール表示
    プロフィール変更, パスワード変更への遷移ボタン
-->
マイページ
<p><a href="{% url 'password_change_form' %}">パスワード変更</a></p>
<p><a href="{% url 'profile_edit' %}">プロフィールを編集</a></p>
<p><a href="{% url 'save' %}">お気に入り</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>

<div class="profile">
    <div class="img">
        <img src="/media/{{ user.related_account.account_icon }}" alt="">
    </div>
    <div class="user_main">
        <section class="name">{{ user.username }}</section>
        <section class="intro">{{ user.related_account.account_intro }}</section>
    </div>
</div>

<!-- 自分の投稿一覧表示 -->
<div class="outfits">
    <ul>
        {% for item in user.related_outfit.all %}
        <li>
            <div class="img">
                <img src="/media/{{ item.outfit_photo }}" alt="">
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}