{% extends "post_outfit/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'post_outfit/css/outfit_detail.css' %}">
{% endblock %}

{% block content %}
<div class="outfit">
    <div class="outfit-photo">
        <img src="/media/{{ outfit.outfit_photo }}" alt="">
    </div>
    <div class="detail">
        <div class="account">
            <section class="account-icon">
                <img src="/media/{{ account.account_icon }}" alt="">
            </section>
            <section class="name">{{username}}</section>
        </div>
        <div class="description">
            <p>{{outfit.outfit_desc}}</p>
        </div>
        <div class="action">
            <div class="btn-good">
                <a href=""></a>
            </div>
            <div class="btn-save">

            </div>
        </div>
    </div>
</div>
{% endblock %}