{% extends "post_outfit/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'post_outfit/css/outfit_detail.css' %}">
{% endblock %}

{% block content %}
<div class="outfit">
    <div class="outfit-photo">
        <img src="/media/{{ outfit.outfit_photo }}" alt="">
    </div>
    <div class="detail">
        <div class="account">
            <section class="account-icon">
                <img src="/media/{{ account.account_icon }}" alt="">
            </section>
            <section class="name">{{username}}</section>
        </div>
        <div class="description">
            <p>{{outfit.outfit_desc}}</p>
        </div>
        {% if user.is_authenticated %}
        <div class="action">
            <div class="btn-good">
                <a href="{% url 'update_good' outfit_id=outfit.id username=username %}">
                    <img src="/media/common/btn_good.jpg" alt="">
                </a>
            </div>
            <div class="btn-save">
                <a href="{% url 'update_save' outfit_id=outfit.id username=username %}">
                    <img src="/media/common/btn_save.jpg" alt="">
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}