{% extends "post_outfit/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'post_outfit/css/outfit_detail.css' %}">
{% endblock %}

{% block content %}
<div class="outfit">
    <div class="outfit-photo">
        <img src="/media/{{ outfit.outfit_photo }}" alt="">
    </div>
    <div class="detail">
        <div class="account">
            <div class="account-icon">
                <a href="{% url 'user_detail' username %}">
                    <img src="/media/{{ account.account_icon }}" alt="">
                </a>
            </div>
            <div class="username">
                {{username}}
            </div>
            <div class="flag-img">
                <img src="/media/{{ outfit.flag.flag_image }}" alt="">
            </div>
            {% if user.is_authenticated %}
            <div class="btn-follow">
                <form action="{% url 'follow' username=username %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="フォロー">
                </form>
            </div>
            {% endif %}
            </div>
        <div class="description">
            <p>{{outfit.outfit_desc}}</p>
        </div>
        {% if user.is_authenticated %}
        <div class="action">
            <div class="btn-good">
                <form action="{% url 'update_good' outfit_id=outfit.id %}" method="post">
                    {% csrf_token %}
                    <input type="image" src="/media/common/btn_good.jpg" alt="いいね">
                </form>
            </div>
            <div class="btn-save">
                <form action="{% url 'update_save' outfit_id=outfit.id %}" method="post">
                    {% csrf_token %}
                    <input type="image" src="/media/common/btn_save.jpg" alt="保存">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}