{% extends "post_outfit/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'post_outfit/css/save.css' %}">
{% endblock %}

{% block content %}
<div class="title">
    <p>お気に入り登録済み</p>
</div>
<div class="outfits">
    <ul>
        {% for item in saves %}
        <li>
            <div class="outfit-photo">
                <a href="{% url 'outfit_detail' username=item.user.username outfit_id=item.outfit.id %}">
                    <img src="/media/{{ item.outfit.outfit_photo }}" alt="">
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}