{% extends "post_outfit/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'post_outfit/css/mypage.css' %}">
{% endblock %}

{% block content %}
<div class="profile">
    <div class="img">
        <img src="/media/{{ account.account_icon }}" alt="">
    </div>
    <div class="user_main">
        <section class="name">{{ account.user.username }}</section>
        {% if user.is_authenticated %}
        <div class="btn-follow">
            <form action="{% url 'follow' username=account.user.username %}" method="post">
                {% csrf_token %}
                <input type="submit" value="フォロー">
            </form>
        </div>
        {% endif %}
        <section class="intro">{{ account.account_intro }}</section>
    </div>
</div>

<!-- 投稿一覧表示 -->
<div class="outfits">
    <ul>
        {% for item in outfits %}
        <li>
            <div class="img">
                <img src="/media/{{ item.outfit_photo }}" alt="">
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}